.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 970px;
}
.hide{
    display: none;
}
#data{
    height: 150px;
    width: 55%;
    font-size: 20px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0;
    padding: 0;
}
#menu{
    width: 30%;
    display: inline-block;
    text-align: center;
    vertical-align:top;
}
span{
    font-family: Arial;
    font-size: 60px;
    font-weight: 700;
    margin: 10px;
    width: 100%;
    display: inline-block;
}
.button{
    margin-top: 20px;
    display: inline-block;
    width: 100px;
    padding: 10px;
    background-color: #8f7a66;
    font-family: Arial;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
}
.button:hover{
    background-color:#9f8b77;
}
.row{
    display: inline-block;
    height: 510px;
    width: 50px;
    vertical-align: top;
    margin-top:20px;
    text-align: center;
}
.col-wrap{
    width: 30%;
    display: inline-block;
}
.row-cell{
    height: 50px;
    line-height: 50px;
    font-size: 35px;
    margin-top: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.row-cell:nth-child(3n){
    margin-top: 10px;
}
.col{
    display: inline-block;
    width: 510px;
    margin-left: 60px;
    text-align: center;
}
.col-cell{
    display: block;
    width: 50px;
    line-height: 50px;
    font-size: 35px;
    margin-right: 5px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.col-cell:nth-child(3n){
    margin-right: 10px;
}
.game-container{
    text-align: center;
    width:510px;
    height: 510px;
    padding:5px;
    margin-top:20px;
    background-color:#bbada0;
    display: inline-block;
    border-radius: 3px;
    position: relative;
    cursor: default;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.grid-container{
    position: absolute;
    z-index: 1;
}
.grid-row {
    margin-bottom: 5px;
    height: 50px;
}
.grid-row:nth-child(3n) {
    margin-bottom: 10px;
}
.grid-row:last-child {
    margin-bottom: 0;
}
.grid-row:after {
    content: "";
    display: block;
    clear: both;
}
.grid-cell {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    float: left;
    border-radius: 3px;
    background: rgba(238, 228, 218, 0.35);
}
.grid-cell:nth-child(3n) {
    margin-right: 10px;
}
.grid-cell:last-child {
    margin-right: 0;
}

.tile-container{
    position: absolute;
    z-index: 2;
}
.tile {
    position: absolute;
}
.box-bold .tile-inner{
    font-weight: bold;
    font-style: italic;
}
.tile .tile-inner {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
            animation: fadein 1s;
}
@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.tile,
.tile .tile-inner {
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.tile.tile-position-0-0 {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}
.tile.tile-position-0-1 {
    -webkit-transform: translate(55px, 0px);
    -moz-transform: translate(55px, 0px);
    -ms-transform: translate(55px, 0px);
    transform: translate(55px, 0px);
}
.tile.tile-position-0-2 {
    -webkit-transform: translate(110px, 0px);
    -moz-transform: translate(110px, 0px);
    -ms-transform: translate(110px, 0px);
    transform: translate(110px, 0px);
}
.tile.tile-position-0-3 {
    -webkit-transform: translate(170px, 0px);
    -moz-transform: translate(170px, 0px);
    -ms-transform: translate(170px, 0px);
    transform: translate(170px, 0px);
}
.tile.tile-position-0-4 {
    -webkit-transform: translate(225px, 0px);
    -moz-transform: translate(225px, 0px);
    -ms-transform: translate(225px, 0px);
    transform: translate(225px, 0px);
}
.tile.tile-position-0-5 {
    -webkit-transform: translate(280px, 0px);
    -moz-transform: translate(280px, 0px);
    -ms-transform: translate(280px, 0px);
    transform: translate(280px, 0px);
}
.tile.tile-position-0-6 {
    -webkit-transform: translate(340px, 0px);
    -moz-transform: translate(340px, 0px);
    -ms-transform: translate(340px, 0px);
    transform: translate(340px, 0px);
}
.tile.tile-position-0-7 {
    -webkit-transform: translate(395px, 0px);
    -moz-transform: translate(395px, 0px);
    -ms-transform: translate(395px, 0px);
    transform: translate(395px, 0px);
}
.tile.tile-position-0-8 {
    -webkit-transform: translate(450px, 0px);
    -moz-transform: translate(450px, 0px);
    -ms-transform: translate(450px, 0px);
    transform: translate(450px, 0px);
}
.tile.tile-position-1-0 {
    -webkit-transform: translate(0px, 55px);
    -moz-transform: translate(0px, 55px);
    -ms-transform: translate(0px, 55px);
    transform: translate(0px, 55px);
}
.tile.tile-position-1-1 {
    -webkit-transform: translate(55px, 55px);
    -moz-transform: translate(55px, 55px);
    -ms-transform: translate(55px, 55px);
    transform: translate(55px, 55px);
}
.tile.tile-position-1-2 {
    -webkit-transform: translate(110px, 55px);
    -moz-transform: translate(110px, 55px);
    -ms-transform: translate(110px, 55px);
    transform: translate(110px, 55px);
}
.tile.tile-position-1-3 {
    -webkit-transform: translate(170px, 55px);
    -moz-transform: translate(170px, 55px);
    -ms-transform: translate(170px, 55px);
    transform: translate(170px, 55px);
}
.tile.tile-position-1-4 {
    -webkit-transform: translate(225px, 55px);
    -moz-transform: translate(225px, 55px);
    -ms-transform: translate(225px, 55px);
    transform: translate(225px, 55px);
}
.tile.tile-position-1-5 {
    -webkit-transform: translate(280px, 55px);
    -moz-transform: translate(280px, 55px);
    -ms-transform: translate(280px, 55px);
    transform: translate(280px, 55px);
}
.tile.tile-position-1-6 {
    -webkit-transform: translate(340px, 55px);
    -moz-transform: translate(340px, 55px);
    -ms-transform: translate(340px, 55px);
    transform: translate(340px, 55px);
}
.tile.tile-position-1-7 {
    -webkit-transform: translate(395px, 55px);
    -moz-transform: translate(395px, 55px);
    -ms-transform: translate(395px, 55px);
    transform: translate(395px, 55px);
}
.tile.tile-position-1-8 {
    -webkit-transform: translate(450px, 55px);
    -moz-transform: translate(450px, 55px);
    -ms-transform: translate(450px, 55px);
    transform: translate(450px, 55px);
}

.tile.tile-position-2-0 {
    -webkit-transform: translate(0px, 110px);
    -moz-transform: translate(0px, 110px);
    -ms-transform: translate(0px, 110px);
    transform: translate(0px, 110px);
}
.tile.tile-position-2-1 {
    -webkit-transform: translate(55px, 110px);
    -moz-transform: translate(55px, 110px);
    -ms-transform: translate(55px, 110px);
    transform: translate(55px, 110px);
}
.tile.tile-position-2-2 {
    -webkit-transform: translate(110px, 110px);
    -moz-transform: translate(110px, 110px);
    -ms-transform: translate(110px, 110px);
    transform: translate(110px, 110px);
}
.tile.tile-position-2-3 {
    -webkit-transform: translate(170px, 110px);
    -moz-transform: translate(170px, 110px);
    -ms-transform: translate(170px, 110px);
    transform: translate(170px, 110px);
}
.tile.tile-position-2-4 {
    -webkit-transform: translate(225px, 110px);
    -moz-transform: translate(225px, 110px);
    -ms-transform: translate(225px, 110px);
    transform: translate(225px, 110px);
}
.tile.tile-position-2-5 {
    -webkit-transform: translate(280px, 110px);
    -moz-transform: translate(280px, 110px);
    -ms-transform: translate(280px, 110px);
    transform: translate(280px, 110px);
}
.tile.tile-position-2-6 {
    -webkit-transform: translate(340px, 110px);
    -moz-transform: translate(340px, 110px);
    -ms-transform: translate(340px, 110px);
    transform: translate(340px, 110px);
}
.tile.tile-position-2-7 {
    -webkit-transform: translate(395px, 110px);
    -moz-transform: translate(395px, 110px);
    -ms-transform: translate(395px, 110px);
    transform: translate(395px, 110px);
}
.tile.tile-position-2-8 {
    -webkit-transform: translate(450px, 110px);
    -moz-transform: translate(450px, 110px);
    -ms-transform: translate(450px, 110px);
    transform: translate(450px, 110px);
}

.tile.tile-position-3-0 {
    -webkit-transform: translate(0px, 170px);
    -moz-transform: translate(0px, 170px);
    -ms-transform: translate(0px, 170px);
    transform: translate(0px, 170px);
}
.tile.tile-position-3-1 {
    -webkit-transform: translate(55px, 170px);
    -moz-transform: translate(55px, 170px);
    -ms-transform: translate(55px, 170px);
    transform: translate(55px, 170px);
}
.tile.tile-position-3-2 {
    -webkit-transform: translate(110px, 170px);
    -moz-transform: translate(110px, 170px);
    -ms-transform: translate(110px, 170px);
    transform: translate(110px, 170px);
}
.tile.tile-position-3-3 {
    -webkit-transform: translate(170px, 170px);
    -moz-transform: translate(170px, 170px);
    -ms-transform: translate(170px, 170px);
    transform: translate(170px, 170px);
}
.tile.tile-position-3-4 {
    -webkit-transform: translate(225px, 170px);
    -moz-transform: translate(225px, 170px);
    -ms-transform: translate(225px, 170px);
    transform: translate(225px, 170px);
}
.tile.tile-position-3-5 {
    -webkit-transform: translate(280px, 170px);
    -moz-transform: translate(280px, 170px);
    -ms-transform: translate(280px, 170px);
    transform: translate(280px, 170px);
}
.tile.tile-position-3-6 {
    -webkit-transform: translate(340px, 170px);
    -moz-transform: translate(340px, 170px);
    -ms-transform: translate(340px, 170px);
    transform: translate(340px, 170px);
}
.tile.tile-position-3-7 {
    -webkit-transform: translate(395px, 170px);
    -moz-transform: translate(395px, 170px);
    -ms-transform: translate(395px, 170px);
    transform: translate(395px, 170px);
}
.tile.tile-position-3-8 {
    -webkit-transform: translate(450px, 170px);
    -moz-transform: translate(450px, 170px);
    -ms-transform: translate(450px, 170px);
    transform: translate(450px, 170px);
}


.tile.tile-position-4-0 {
    -webkit-transform: translate(0px, 225px);
    -moz-transform: translate(0px, 225px);
    -ms-transform: translate(0px, 225px);
    transform: translate(0px, 225px);
}
.tile.tile-position-4-1 {
    -webkit-transform: translate(55px, 225px);
    -moz-transform: translate(55px, 225px);
    -ms-transform: translate(55px, 225px);
    transform: translate(55px, 225px);
}
.tile.tile-position-4-2 {
    -webkit-transform: translate(110px, 225px);
    -moz-transform: translate(110px, 225px);
    -ms-transform: translate(110px, 225px);
    transform: translate(110px, 225px);
}
.tile.tile-position-4-3 {
    -webkit-transform: translate(170px, 225px);
    -moz-transform: translate(170px, 225px);
    -ms-transform: translate(170px, 225px);
    transform: translate(170px, 225px);
}
.tile.tile-position-4-4 {
    -webkit-transform: translate(225px, 225px);
    -moz-transform: translate(225px, 225px);
    -ms-transform: translate(225px, 225px);
    transform: translate(225px, 225px);
}
.tile.tile-position-4-5 {
    -webkit-transform: translate(280px, 225px);
    -moz-transform: translate(280px, 225px);
    -ms-transform: translate(280px, 225px);
    transform: translate(280px, 225px);
}
.tile.tile-position-4-6 {
    -webkit-transform: translate(340px, 225px);
    -moz-transform: translate(340px, 225px);
    -ms-transform: translate(340px, 225px);
    transform: translate(340px, 225px);
}
.tile.tile-position-4-7 {
    -webkit-transform: translate(395px, 225px);
    -moz-transform: translate(395px, 225px);
    -ms-transform: translate(395px, 225px);
    transform: translate(395px, 225px);
}
.tile.tile-position-4-8 {
    -webkit-transform: translate(450px, 225px);
    -moz-transform: translate(450px, 225px);
    -ms-transform: translate(450px, 225px);
    transform: translate(450px, 225px);
}


.tile.tile-position-5-0 {
    -webkit-transform: translate(0px, 280px);
    -moz-transform: translate(0px, 280px);
    -ms-transform: translate(0px, 280px);
    transform: translate(0px, 280px);
}
.tile.tile-position-5-1 {
    -webkit-transform: translate(55px, 280px);
    -moz-transform: translate(55px, 280px);
    -ms-transform: translate(55px, 280px);
    transform: translate(55px, 280px);
}
.tile.tile-position-5-2 {
    -webkit-transform: translate(110px, 280px);
    -moz-transform: translate(110px, 280px);
    -ms-transform: translate(110px, 280px);
    transform: translate(110px, 280px);
}
.tile.tile-position-5-3 {
    -webkit-transform: translate(170px, 280px);
    -moz-transform: translate(170px, 280px);
    -ms-transform: translate(170px, 280px);
    transform: translate(170px, 280px);
}
.tile.tile-position-5-4 {
    -webkit-transform: translate(225px, 280px);
    -moz-transform: translate(225px, 280px);
    -ms-transform: translate(225px, 280px);
    transform: translate(225px, 280px);
}
.tile.tile-position-5-5 {
    -webkit-transform: translate(280px, 280px);
    -moz-transform: translate(280px, 280px);
    -ms-transform: translate(280px, 280px);
    transform: translate(280px, 280px);
}
.tile.tile-position-5-6 {
    -webkit-transform: translate(340px, 280px);
    -moz-transform: translate(340px, 280px);
    -ms-transform: translate(340px, 280px);
    transform: translate(340px, 280px);
}
.tile.tile-position-5-7 {
    -webkit-transform: translate(395px, 280px);
    -moz-transform: translate(395px, 280px);
    -ms-transform: translate(395px, 280px);
    transform: translate(395px, 280px);
}
.tile.tile-position-5-8 {
    -webkit-transform: translate(450px, 280px);
    -moz-transform: translate(450px, 280px);
    -ms-transform: translate(450px, 280px);
    transform: translate(450px, 280px);
}

.tile.tile-position-6-0 {
    -webkit-transform: translate(0px, 340px);
    -moz-transform: translate(0px, 340px);
    -ms-transform: translate(0px, 340px);
    transform: translate(0px, 340px);
}
.tile.tile-position-6-1 {
    -webkit-transform: translate(55px, 340px);
    -moz-transform: translate(55px, 340px);
    -ms-transform: translate(55px, 340px);
    transform: translate(55px, 340px);
}
.tile.tile-position-6-2 {
    -webkit-transform: translate(110px, 340px);
    -moz-transform: translate(110px, 340px);
    -ms-transform: translate(110px, 340px);
    transform: translate(110px, 340px);
}
.tile.tile-position-6-3 {
    -webkit-transform: translate(170px, 340px);
    -moz-transform: translate(170px, 340px);
    -ms-transform: translate(170px, 340px);
    transform: translate(170px, 340px);
}
.tile.tile-position-6-4 {
    -webkit-transform: translate(225px, 340px);
    -moz-transform: translate(225px, 340px);
    -ms-transform: translate(225px, 340px);
    transform: translate(225px, 340px);
}
.tile.tile-position-6-5 {
    -webkit-transform: translate(280px, 340px);
    -moz-transform: translate(280px, 340px);
    -ms-transform: translate(280px, 340px);
    transform: translate(280px, 340px);
}
.tile.tile-position-6-6 {
    -webkit-transform: translate(340px, 340px);
    -moz-transform: translate(340px, 340px);
    -ms-transform: translate(340px, 340px);
    transform: translate(340px, 340px);
}
.tile.tile-position-6-7 {
    -webkit-transform: translate(395px, 340px);
    -moz-transform: translate(395px, 340px);
    -ms-transform: translate(395px, 340px);
    transform: translate(395px, 340px);
}
.tile.tile-position-6-8 {
    -webkit-transform: translate(450px, 340px);
    -moz-transform: translate(450px, 340px);
    -ms-transform: translate(450px, 340px);
    transform: translate(450px, 340px);
}

.tile.tile-position-7-0 {
    -webkit-transform: translate(0px, 395px);
    -moz-transform: translate(0px, 395px);
    -ms-transform: translate(0px, 395px);
    transform: translate(0px, 395px);
}
.tile.tile-position-7-1 {
    -webkit-transform: translate(55px, 395px);
    -moz-transform: translate(55px, 395px);
    -ms-transform: translate(55px, 395px);
    transform: translate(55px, 395px);
}
.tile.tile-position-7-2 {
    -webkit-transform: translate(110px, 395px);
    -moz-transform: translate(110px, 395px);
    -ms-transform: translate(110px, 395px);
    transform: translate(110px, 395px);
}
.tile.tile-position-7-3 {
    -webkit-transform: translate(170px, 395px);
    -moz-transform: translate(170px, 395px);
    -ms-transform: translate(170px, 395px);
    transform: translate(170px, 395px);
}
.tile.tile-position-7-4 {
    -webkit-transform: translate(225px, 395px);
    -moz-transform: translate(225px, 395px);
    -ms-transform: translate(225px, 395px);
    transform: translate(225px, 395px);
}
.tile.tile-position-7-5 {
    -webkit-transform: translate(280px, 395px);
    -moz-transform: translate(280px, 395px);
    -ms-transform: translate(280px, 395px);
    transform: translate(280px, 395px);
}
.tile.tile-position-7-6 {
    -webkit-transform: translate(340px, 395px);
    -moz-transform: translate(340px, 395px);
    -ms-transform: translate(340px, 395px);
    transform: translate(340px, 395px);
}
.tile.tile-position-7-7 {
    -webkit-transform: translate(395px, 395px);
    -moz-transform: translate(395px, 395px);
    -ms-transform: translate(395px, 395px);
    transform: translate(395px, 395px);
}
.tile.tile-position-7-8 {
    -webkit-transform: translate(450px, 395px);
    -moz-transform: translate(450px, 395px);
    -ms-transform: translate(450px, 395px);
    transform: translate(450px, 395px);
}

.tile.tile-position-8-0 {
    -webkit-transform: translate(0px, 450px);
    -moz-transform: translate(0px, 450px);
    -ms-transform: translate(0px, 450px);
    transform: translate(0px, 450px);
}
.tile.tile-position-8-1 {
    -webkit-transform: translate(55px, 450px);
    -moz-transform: translate(55px, 450px);
    -ms-transform: translate(55px, 450px);
    transform: translate(55px, 450px);
}
.tile.tile-position-8-2 {
    -webkit-transform: translate(110px, 450px);
    -moz-transform: translate(110px, 450px);
    -ms-transform: translate(110px, 450px);
    transform: translate(110px, 450px);
}
.tile.tile-position-8-3 {
    -webkit-transform: translate(170px, 450px);
    -moz-transform: translate(170px, 450px);
    -ms-transform: translate(170px, 450px);
    transform: translate(170px, 450px);
}
.tile.tile-position-8-4 {
    -webkit-transform: translate(225px, 450px);
    -moz-transform: translate(225px, 450px);
    -ms-transform: translate(225px, 450px);
    transform: translate(225px, 450px);
}
.tile.tile-position-8-5 {
    -webkit-transform: translate(280px, 450px);
    -moz-transform: translate(280px, 450px);
    -ms-transform: translate(280px, 450px);
    transform: translate(280px, 450px);
}
.tile.tile-position-8-6 {
    -webkit-transform: translate(340px, 450px);
    -moz-transform: translate(340px, 450px);
    -ms-transform: translate(340px, 450px);
    transform: translate(340px, 450px);
}
.tile.tile-position-8-7 {
    -webkit-transform: translate(395px, 450px);
    -moz-transform: translate(395px, 450px);
    -ms-transform: translate(395px, 450px);
    transform: translate(395px, 450px);
}
.tile.tile-position-8-8 {
    -webkit-transform: translate(450px, 450px);
    -moz-transform: translate(450px, 450px);
    -ms-transform: translate(450px, 450px);
    transform: translate(450px, 450px);
}

.tile .tile-inner {
    font-size: 35px;
    color: #f9f6f2;
    background: #f59563;
    border-radius: 3px;
}
.game-message {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(238, 228, 218, 0.73);
    z-index: 100;
    padding-top: 40px;
    text-align: center;
    -webkit-animation: fade-in 800ms ease 1200ms;
    -moz-animation: fade-in 800ms ease 1200ms;
    animation: fade-in 800ms ease 1200ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
}
.game-message p {
    font-size: 60px;
    font-weight: 700;
    height: 60px;
    line-height: 60px;
    margin-top: 100px;
    color: #776e65;
    -webkit-animation: slide-up 1.5s ease-in-out 2500ms;
    animation: slide-up 1.5s ease-in-out 2500ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.game-over{
    display: block;
}
